/* Footer */

.footer-container {
    height: 10vh;
    @include bg-dark;
    @include breakpoint-down("sm") {
        padding: $md 0;
        height: 30vh;
    }
}

footer {
    font-size: 1.2rem;
    @include flex;
    @include flex-jc-sb;
    @include flex-ai-c;
    @include breakpoint-down("sm") {
        @include flex-col;
        .social {
            font-size: 3rem;
        }
    }
    .copyright p {
        @include noSpace;
    }
    .social {
        a {
            font-size: 1.2rem;
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}