/* Global Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
    @include no-space;
}

html {
    font-size: $rem;
    overflow-x: hidden;
}

body {
    font-family: $fontBody;
    font-size: font(lg);
    letter-spacing: $letterSpacing;
    overflow: hidden;
}

a {
    font-size: font(md);
    text-decoration: none;
    @include color('primary');
    transition: opacity $transition ease-in-out;
    &:hover {
        opacity: .75;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontHeading;
    letter-spacing: .5rem;
    @include color('primary');
    margin-bottom: size(sm);
}

p {
    font-size: font(md);
    margin-bottom: size(md);
}

ul {
    li {
        font-size: font(md);
        margin: 0 size(lg);
    }
}

img {
    width: 100%;
    object-fit: cover;
}

section {
    padding: size(lg) 0;
}

.special {
    font-family: $fontSpecial;
}

ul {
    margin-top: -1rem;
    li {
        margin: 0 size(lg);
    }
}

img {
    width: 100%;
    object-fit: cover;
}


/* Forms */

.form-container {
    form {
        @include grid-col(2);
        gap: size(md);
        padding-top: size(md);
        .col-s2 {
            @include grid-col-span(1);
        }
        @include min-screen(md) {
            gap: size(sm);
            .col-s2 {
                @include grid-col-span(2);
            }
        }
    }
}

input[type=text] {
    padding-top: size(md);
    @include input-defaults;
    &:focus+.label-text .input-content,
    &:valid+.label-text .input-content {
        @include input-transform;
    }
    &:focus+.label-text::after,
    &:valid+.label-text::after {
        transform: translateX(0%);
    }
}

input[type=email] {
    padding-top: size(md);
    @include input-defaults;
    &:focus+.label-email .input-content,
    &:valid+.label-email .input-content {
        @include input-transform;
    }
    &:focus+.label-email::after,
    &:valid+.label-email::after {
        transform: translateX(0%);
    }
}

textarea {
    padding-top: size(lg);
    @include input-defaults;
    &:valid+.label-textarea .textarea-content,
    &:focus+.label-textarea .textarea-content {
        @include input-transform;
    }
    &:valid+.label-textarea::after,
    &:focus+.label-textarea::after {
        transform: translateX(0%);
    }
}

input[type=submit] {
    outline: none;
    border: none;
    @include fix-w;
    font-size: font(sm);
    margin: size(md) 0;
    @include btn('primary');
    @include btnRadius(lg);
    cursor: pointer;
    transition: opacity $transition ease-in-out;
    &:hover {
        opacity: .75;
    }
    @include min-screen(md) {
        width: fit-content;
    }
}

.label-text,
.label-email {
    @include label-defaults;
    left: 0;
    border-bottom: 1px solid get-color('dark');
    &::after {
        @include label-after;
        left: 0;
        bottom: -1px;
    }
}

.label-textarea {
    @include label-defaults;
    top: -50%;
    left: 0;
    &::before {
        content: '';
        @include fix-hw;
        position: absolute;
        top: 50%;
        bottom: 1;
        border-bottom: 1px solid get-color('dark');
    }
    &::after {
        @include label-after;
        top: 50%;
        bottom: 1px;
    }
}

.input-content {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all $transition ease;
}

.textarea-content {
    position: absolute;
    bottom: size(lg);
    left: 0;
    transition: all $transition ease;
}

.input {
    position: relative;
    overflow: hidden;
}


/* Cards */

.card {
    padding: size(lg);
    border-radius: size(sm);
    @include color('light', true);
    @include shadow;
    @include min-screen(md) {
        padding: size(lg) size(md);
        border-radius: size(md);
    }
    @include min-screen(lg) {
        padding: size(xl) size(lg);
    }
}


/* Blurbs */

.blurb-container {
    width: 100%;
    text-align: center;
    padding: size(md) 0;
    @include grid-col(3);
    gap: size(lg);
    .blurb-icon {
        @include color('primary');
        font-size: font(xl);
    }
    .blurb-title {
        padding: size(md) 0 0 0;
        font-size: font(lg);
        @include color('primary');
    }
    .blurb-content {
        padding-bottom: size(sm);
    }
    .blurb-btn {
        @include btn('primary');
    }
}


/* Lightbox */

.lightbox {
    display: none;
    @include fix-hw;
    position: fixed;
    top: 0;
    opacity: .75;
    @include color('dark', true);
    z-index: 5;
    img {
        @include fix-hw;
        position: absolute;
        object-fit: contain;
    }
    @include min-screen(md) {
        height: 100vh;
        width: 100vw;
        img {
            width: 100vw;
        }
    }
}


/* Layouts */

.grid-main {
    @extend %grid-main;
}