header {
    height: 10vh;
    position: relative;
    margin-bottom: -10vh;
    @include bg-transparent;
    @extend %grid-main;
    .navbar {
        @include flex;
        @include flex-jc-sb;
        @include flex-ai-c;
        .logo img {
            width: 30%;
        }
        .logo {
            h1,
            h2,
            h3 {
                @include no-space;
                text-transform: uppercase;
                font-weight: 300;
                @include color('primary');
            }
        }
        .hamburger {
            cursor: pointer;
            z-index: 3;
            span {
                width: 3rem;
                height: .2rem;
                display: block;
                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }
        .nav-links {
            height: 60vh;
            @include fix-w;
            position: absolute;
            top: 10vh;
            left: 0;
            @include flex;
            @include flex-col;
            @include flex-jc-sa;
            @include flex-ai-c;
            a {
                font-size: size(lg);
                @include color('light');
            }
            z-index: 2;
        }
        .overlay {
            height: 100vh;
            @include fix-w;
            position: absolute;
            top: 0;
            left: 0;
            @include color('primary', true);
            pointer-events: none;
            z-index: 1;
        }
    }
    @include min-screen(xxl) {
        height: 8rem;
    }
    @include min-screen(md) {
        height: 8vh;
        .navbar {
            @include fix-hw;
            @include flex-jc-sb;
            @include flex-ai-c;
            .nav-links {
                position: relative;
                top: 0;
                @include fix-h;
                width: auto;
                @include flex-row;
                @include no-space;
                a {
                    font-size: font(sm);
                    @include color('primary');
                    &:not(:last-child) {
                        margin-right: size(lg);
                    }
                }
            }
            .hamburger,
            .overlay {
                display: none;
            }
        }
    }
}

.open {
    span:first-child {
        @include color('light', true);
        transform: translate(0, .5rem) rotate(45deg);
        transition: all $transition ease-in-out;
    }
    span:nth-child(2) {
        @include color('light', true);
        opacity: 0;
        transition: opacity $transition ease-in-out;
    }
    span:last-child {
        @include color('light', true);
        transform: translate(0, -1rem) rotate(-45deg);
        transition: all $transition ease-in-out;
    }
}

.closed {
    span:first-child {
        @include color('primary', true);
        transform: translate(0, 0) rotate(0deg);
        transition: all $transition ease-in-out;
    }
    span:nth-child(2) {
        @include color('primary', true);
        opacity: 1;
        transition: opacity $transition ease-in-out;
    }
    span:last-child {
        @include color('primary', true);
        transform: translate(0, 0) rotate(0deg);
        transition: all $transition ease-in-out;
    }
}