/* Layouts */


/* Grid */

.grid-main {
    @include grid;
    grid-template-columns: 10vw 1fr 10vw;
    .grid-content {
        grid-column: 2/3;
    }
    @include breakpoint-up("xxl") {
        grid-template-columns: 20vw 1fr 20vw;
    }
}

.col-s2 {
    grid-column: span 2;
}

.flex-nav,
.flex-footer {
    @include flex;
    @include flex-jc-sb;
    @include flex-ai-c;
}