#contact {
    .grid-content {
        @include grid-2(false);
        gap: $lg;
        .info-container {
            h2 {
                padding: $sm 0 $md;
            }
            @include breakpoint-down("sm") {
                text-align: center;
            }
        }
        .card {
            padding: $lg;
        }
    }
}