/* Home Page */

#hero {
    height: 90vh;
    max-height: 1080px;
    width: 100%;
    text-align: center;
    @include grid;
    @include grid-center;
    background: url('/images/img-1920x1080.png') no-repeat center top;
    background-size: cover;
}

#blurbs {
    .grid-content {
        text-align: center;
    }
    .blurb-container {
        .blurb-btn {
            @include btn($primary,
            true);
            @include btnRadius("lg");
        }
    }
}

#gallery {
    .grid-content {
        text-align: center;
    }
    .gallery-container {
        padding: $md 0;
        width: 100%;
        @include grid;
        @include grid-col(4);
        @include breakpoint-down("md") {
            @include grid-col(2);
        }
        @include breakpoint-up("xxl") {
            @include grid-col(8);
        }
        a img {
            height: 100%;
        }
    }
}

#pricing {
    .grid-content {
        padding: $xl 0;
        text-align: center;
        .blurb-container {
            gap: $md;
            .blurb-btn {
                @include btn($primary);
                @include btnRadius("lg");
            }
        }
    }
}