// Colors
$colors: ( 'primary': #808080, 'secondary': #afafaf, 'highlight': #eeeeee, 'light': #fff, 'dark': #333333, 'success': #009900, 'error': #990000, 'warning': #ffbb00);
// Sizes
$rem: 62.5%;
$sizes: ( xs: 1rem, sm: 1.4rem, md: 1.6rem, lg: 2.5rem, xl: 5rem, xxl: 8rem);
$fontSizes: ( xs: 1vh, sm: 1.4vh, md: 1.6vh, lg: 3vh, xl: 5vh, xxl: 8vh);
$breakpoints: (sm: 425px, md:760px, lg: 1024px, xl: 1440px, xxl: 2560px);
$grid-col: ('2': 50rem, '3': 37rem, '4': 30rem, '5': 25rem, '6': 20rem);
$grid-col-xxl: ('2': 50vw, '3': 33.33vw, '4': 25vw, '5': 20vw, '6': 16vw);
$gutter: (sm: 5vh, md:10vh, lg: 30vh);
// Typography
$fontBody: 'Roboto',
sans-serif;
$fontHeading: 'Roboto Condensed',
sans-serif;
$fontSpecial: 'Roboto Condensed',
sans-serif;
$letterSpacing: .05rem;
// Transitions
$transition: 300ms;