/* Global Styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #808080;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

a:hover {
  opacity: .75;
}

h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  padding: 5rem 0;
}

/* Layouts */
/* Grid */
.grid-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 1fr 10vw;
      grid-template-columns: 10vw 1fr 10vw;
}

.grid-main .grid-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

@media (min-width: 2560px) {
  .grid-main {
    -ms-grid-columns: 20vw 1fr 20vw;
        grid-template-columns: 20vw 1fr 20vw;
  }
}

.flex-nav,
.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Header */
header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  width: 30%;
}

header .logo h1 {
  padding: 0;
  margin: 0;
}

header .hamburger {
  cursor: pointer;
}

@media (min-width: 760px) {
  header .hamburger {
    display: none;
  }
}

header .hamburger span {
  width: 3rem;
  height: .2rem;
  display: block;
  background-color: #808080;
}

header .hamburger span:not(:last-child) {
  margin-bottom: .5rem;
}

@media (max-width: 759px) {
  header .nav-links {
    display: none;
  }
}

header .nav-links a {
  font-size: 1.4rem;
}

header .nav-links a:not(:last-child) {
  margin-right: 2rem;
}

/* Footer */
.footer-container {
  background-color: #333333;
  color: #fff;
}

@media (max-width: 759px) {
  .footer-container {
    padding: 3rem 0;
  }
}

footer {
  height: 10vh;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 759px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .social a {
  font-size: 1.2rem;
}

footer .social a:not(:last-child) {
  margin-right: 1rem;
}

/* Home Page */
#hero {
  height: 90vh;
  max-height: 1080px;
  width: 100%;
  background: url("/images/img-1920x1080.png") no-repeat center top;
  background-size: cover;
}

#blurbs .grid-content {
  padding: 7rem 0;
  text-align: center;
}

#blurbs .grid-content .blurb-container {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

@media (max-width: 759px) {
  #blurbs .grid-content .blurb-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#blurbs .grid-content .blurb-container .blurb-title {
  padding: 3rem 0 0 0;
  font-size: 3rem;
}

#blurbs .grid-content .blurb-container .blurb-content {
  padding: 0 0 5rem 0;
}

#blurbs .grid-content .blurb-container .blurb-btn {
  padding: 1rem 2rem;
  color: #808080;
  background-color: transparent;
  border: 2px #808080 solid;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 5rem;
}

#blurbs .grid-content .blurb-container .blurb-btn:hover {
  background-color: #808080;
  color: #fff;
}

#gallery .grid-content {
  text-align: center;
}

#gallery .gallery-container {
  padding: 3rem 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1023px) {
  #gallery .gallery-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 759px) {
  #gallery .gallery-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 2560px) {
  #gallery .gallery-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

#gallery .gallery-container a img {
  height: 100%;
}

/* Custom Styles*/
/* About Pge*/
/* Contact Pge*/
/*# sourceMappingURL=style.css.map */