@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import './variables';
@import './mixins';
@import './globals';
@import './layout';
@import './header';
@import './footer';
@import './page-home';
@import './page-about';
@import './page-contact';

/* Custom Styles*/


/* About Pge*/


/* Contact Pge*/