/* Effects */
/* Global Styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #808080;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

a:hover {
  opacity: .75;
}

h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 3rem;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  padding: 5rem 0;
}

/* Forms */
.form-container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

@media (max-width: 759px) {
  .form-container form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.form-container form .col-s2 {
  grid-column: span 2;
}

@media (max-width: 1023px) {
  .form-container form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 1023px) and (max-width: 759px) {
  .form-container form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1023px) {
  .form-container form .col-s2 {
    grid-column: span 1;
  }
}

textarea,
input[type=text],
input[type=email] {
  padding-top: 3rem;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: none;
}

input[type=submit] {
  outline: none;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.6rem;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #808080;
  color: #fff;
  border-radius: 5rem;
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

input[type=submit]:hover {
  opacity: .75;
}

@media (max-width: 1023px) {
  input[type=submit] {
    height: 100%;
    width: 100%;
    margin-top: 1rem;
  }
}

input[type=text]:focus + .label-text .input-content,
input[type=text]:valid + .label-text .input-content,
input[type=email]:focus + .label-email .input-content,
input[type=email]:valid + .label-email .input-content,
textarea:valid + .label-textarea .textarea-content,
textarea:focus + .label-textarea .textarea-content {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 1.4rem;
  color: #808080;
}

input[type=text]:focus + .label-text::after,
input[type=text]:valid + .label-text::after,
input[type=email]:focus + .label-email::after,
input[type=email]:valid + .label-email::after,
textarea:valid + .label-textarea::after,
textarea:focus + .label-textarea::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.label-text,
.label-textarea,
.label-email {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border-bottom: 1px solid #333333;
}

.label-text::after,
.label-textarea::after,
.label-email::after {
  position: absolute;
  content: "";
  bottom: -1;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #808080;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.input-content {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.textarea-content {
  position: absolute;
  bottom: 5rem;
  left: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.input {
  position: relative;
  overflow: hidden;
}

/* Cards */
.card {
  padding: 5rem 3rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1023px) {
  .card {
    padding: 5rem 3rem;
  }
}

/* Blurbs */
.blurb-container {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

@media (max-width: 759px) {
  .blurb-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.blurb-container .blurb-icon {
  color: #808080;
  font-size: 7rem;
}

.blurb-container .blurb-title {
  padding: 3rem 0 0 0;
  font-size: 3rem;
  color: #808080;
}

@media (max-width: 1023px) {
  .blurb-container .blurb-title {
    font-size: 2rem;
  }
}

@media (max-width: 759px) {
  .blurb-container .blurb-title {
    font-size: 3rem;
  }
}

.blurb-container .blurb-content {
  padding-bottom: 1rem;
}

.blurb-container .blurb-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #808080;
  color: #fff;
}

/* Layouts */
/* Grid */
.grid-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw 1fr 5vw;
      grid-template-columns: 5vw 1fr 5vw;
}

.grid-main .grid-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

@media (min-width: 2560px) {
  .grid-main {
    -ms-grid-columns: 20vw 1fr 20vw;
        grid-template-columns: 20vw 1fr 20vw;
  }
}

.col-s2 {
  grid-column: span 2;
}

.flex-nav,
.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Header */
header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  width: 30%;
}

header .logo h1,
header .logo h2 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
}

header .hamburger {
  cursor: pointer;
}

@media (min-width: 760px) {
  header .hamburger {
    display: none;
  }
}

header .hamburger span {
  width: 3rem;
  height: .2rem;
  display: block;
  background-color: #808080;
}

header .hamburger span:not(:last-child) {
  margin-bottom: .5rem;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header .nav-links a {
  font-size: 1.4rem;
}

header .nav-links a:not(:last-child) {
  margin-right: 2rem;
}

@media (max-width: 759px) {
  header .nav-links {
    height: 50%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 10vh;
    z-index: 3;
  }
  header .nav-links a {
    font-size: 3rem;
    color: #fff;
  }
}

header .overlay {
  display: none;
}

@media (max-width: 759px) {
  header .overlay {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #808080;
    position: absolute;
    top: 10vh;
    z-index: 0;
    pointer-events: none;
  }
}

.open .hamburger span:first-child {
  -webkit-transform: translate(0, 0.5rem) rotate(45deg);
          transform: translate(0, 0.5rem) rotate(45deg);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.open .hamburger span:nth-child(2) {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.open .hamburger span:last-child {
  -webkit-transform: translate(0, -1rem) rotate(-45deg);
          transform: translate(0, -1rem) rotate(-45deg);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.closed .hamburger span:first-child {
  -webkit-transform: translate(0, 0) rotate(0deg);
          transform: translate(0, 0) rotate(0deg);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.closed .hamburger span:nth-child(2) {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.closed .hamburger span:last-child {
  -webkit-transform: translate(0, 0) rotate(0deg);
          transform: translate(0, 0) rotate(0deg);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

/* Footer */
.footer-container {
  background-color: #333333;
  color: #fff;
}

@media (max-width: 759px) {
  .footer-container {
    padding: 3rem 0;
  }
}

footer {
  height: 10vh;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 759px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .copyright p {
  padding: 0;
  margin: 0;
}

footer .social a {
  font-size: 1.2rem;
}

footer .social a:not(:last-child) {
  margin-right: 1rem;
}

/* Home Page */
#hero {
  height: 90vh;
  max-height: 1080px;
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center center;
  background: url("/images/img-1920x1080.png") no-repeat center top;
  background-size: cover;
}

#blurbs .grid-content {
  text-align: center;
}

#blurbs .blurb-container .blurb-btn {
  display: inline-block;
  padding: 1rem 2rem;
  color: #808080;
  background-color: transparent;
  border: 2px #808080 solid;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 5rem;
}

#blurbs .blurb-container .blurb-btn:hover {
  background-color: #808080;
  color: #fff;
}

#gallery .grid-content {
  text-align: center;
}

#gallery .gallery-container {
  padding: 3rem 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 759px) {
  #gallery .gallery-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1023px) {
  #gallery .gallery-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1023px) and (max-width: 759px) {
  #gallery .gallery-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 2560px) {
  #gallery .gallery-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 2560px) and (max-width: 759px) {
  #gallery .gallery-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#gallery .gallery-container a img {
  height: 100%;
}

#pricing .grid-content {
  padding: 7rem 0;
  text-align: center;
}

#pricing .grid-content .blurb-container {
  gap: 3rem;
}

#pricing .grid-content .blurb-container .blurb-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #808080;
  color: #fff;
  border-radius: 5rem;
}

#about .grid-content {
  min-height: 64.8vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 5rem;
}

@media (max-width: 759px) {
  #about .grid-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#about .grid-content .about-content {
  -webkit-column-count: 2;
          column-count: 2;
}

@media (max-width: 1023px) {
  #about .grid-content .about-content {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

#about .grid-content .about-profile {
  height: 100%;
}

@media (max-width: 759px) {
  #about .grid-content .about-profile {
    height: auto;
  }
}

#contact .grid-content {
  min-height: 64.8vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 5rem;
}

@media (max-width: 759px) {
  #contact .grid-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#contact .grid-content .info-container h2 {
  padding: 1rem 0 3rem;
}

/* Custom Styles*/
/* About Pge*/
/* Contact Pge*/
/*# sourceMappingURL=style.css.map */