@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
/* Global Styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: clamp(2.5rem, 3vh, 3rem);
  letter-spacing: 0.05rem;
  overflow: hidden;
}

a {
  font-size: clamp(1.6rem, 1.6vh, 1.92rem);
  text-decoration: none;
  color: #808080;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

a:hover {
  opacity: .75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: .5rem;
  color: #808080;
  margin-bottom: 1.4rem;
}

p {
  font-size: clamp(1.6rem, 1.6vh, 1.92rem);
  margin-bottom: 1.6rem;
}

ul li {
  font-size: clamp(1.6rem, 1.6vh, 1.92rem);
  margin: 0 2.5rem;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  padding: 2.5rem 0;
}

.special {
  font-family: "Roboto Condensed", sans-serif;
}

ul {
  margin-top: -1rem;
}

ul li {
  margin: 0 2.5rem;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Forms */
.form-container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.6rem;
  padding-top: 1.6rem;
}

@media (min-width: 759px) {
  .form-container form {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.form-container form .col-s2 {
  grid-column: span 1;
}

@media (min-width: 759px) {
  .form-container form {
    gap: 1.4rem;
  }
  .form-container form .col-s2 {
    grid-column: span 2;
  }
}

input[type=text] {
  padding-top: 1.6rem;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: none;
}

input[type=text]:focus + .label-text .input-content,
input[type=text]:valid + .label-text .input-content {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: clamp(1.4rem, 1.4vh, 1.68rem);
  color: #808080;
}

input[type=text]:focus + .label-text::after,
input[type=text]:valid + .label-text::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

input[type=email] {
  padding-top: 1.6rem;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: none;
}

input[type=email]:focus + .label-email .input-content,
input[type=email]:valid + .label-email .input-content {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: clamp(1.4rem, 1.4vh, 1.68rem);
  color: #808080;
}

input[type=email]:focus + .label-email::after,
input[type=email]:valid + .label-email::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

textarea {
  padding-top: 2.5rem;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: none;
}

textarea:valid + .label-textarea .textarea-content,
textarea:focus + .label-textarea .textarea-content {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: clamp(1.4rem, 1.4vh, 1.68rem);
  color: #808080;
}

textarea:valid + .label-textarea::after,
textarea:focus + .label-textarea::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

input[type=submit] {
  outline: none;
  border: none;
  width: 100%;
  font-size: clamp(1.4rem, 1.4vh, 1.68rem);
  margin: 1.6rem 0;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #808080;
  color: #fff;
  border-radius: 2.5rem;
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

input[type=submit]:hover {
  opacity: .75;
}

@media (min-width: 759px) {
  input[type=submit] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.label-text,
.label-email {
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: clamp(1.4rem, 1.4vh, 1.68rem);
  pointer-events: none;
  left: 0;
  border-bottom: 1px solid #333333;
}

.label-text::after,
.label-email::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #808080;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  left: 0;
  bottom: -1px;
}

.label-textarea {
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: clamp(1.4rem, 1.4vh, 1.68rem);
  pointer-events: none;
  top: -50%;
  left: 0;
}

.label-textarea::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  bottom: 1;
  border-bottom: 1px solid #333333;
}

.label-textarea::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #808080;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  top: 50%;
  bottom: 1px;
}

.input-content {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.textarea-content {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.input {
  position: relative;
  overflow: hidden;
}

/* Cards */
.card {
  padding: 2.5rem;
  border-radius: 1.4rem;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 759px) {
  .card {
    padding: 2.5rem 1.6rem;
    border-radius: 1.6rem;
  }
}

@media (min-width: 1023px) {
  .card {
    padding: 5rem 2.5rem;
  }
}

/* Blurbs */
.blurb-container {
  width: 100%;
  text-align: center;
  padding: 1.6rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2.5rem;
}

@media (min-width: 759px) {
  .blurb-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.blurb-container .blurb-icon {
  color: #808080;
  font-size: clamp(5rem, 5vh, 6rem);
}

.blurb-container .blurb-title {
  padding: 1.6rem 0 0 0;
  font-size: clamp(2.5rem, 3vh, 3rem);
  color: #808080;
}

.blurb-container .blurb-content {
  padding-bottom: 1.4rem;
}

.blurb-container .blurb-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #808080;
  color: #fff;
}

/* Lightbox */
.lightbox {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: .75;
  background-color: #333333;
  z-index: 5;
}

.lightbox img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 759px) {
  .lightbox {
    height: 100vh;
    width: 100vw;
  }
  .lightbox img {
    width: 100vw;
  }
}

/* Layouts */
header {
  height: 10vh;
  position: relative;
  margin-bottom: -10vh;
  background-color: transparent;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logo img {
  width: 30%;
}

header .navbar .logo h1,
header .navbar .logo h2,
header .navbar .logo h3 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  color: #808080;
}

header .navbar .hamburger {
  cursor: pointer;
  z-index: 3;
}

header .navbar .hamburger span {
  width: 3rem;
  height: .2rem;
  display: block;
}

header .navbar .hamburger span:not(:last-child) {
  margin-bottom: .5rem;
}

header .navbar .nav-links {
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 10vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

header .navbar .nav-links a {
  font-size: 2.5rem;
  color: #fff;
}

header .navbar .overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #808080;
  pointer-events: none;
  z-index: 1;
}

@media (min-width: 2559px) {
  header {
    height: 8rem;
  }
}

@media (min-width: 759px) {
  header {
    height: 8vh;
  }
  header .navbar {
    height: 100%;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar .nav-links {
    position: relative;
    top: 0;
    height: 100%;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
  }
  header .navbar .nav-links a {
    font-size: clamp(1.4rem, 1.4vh, 1.68rem);
    color: #808080;
  }
  header .navbar .nav-links a:not(:last-child) {
    margin-right: 2.5rem;
  }
  header .navbar .hamburger,
  header .navbar .overlay {
    display: none;
  }
}

.open span:first-child {
  background-color: #fff;
  -webkit-transform: translate(0, 0.5rem) rotate(45deg);
          transform: translate(0, 0.5rem) rotate(45deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.open span:nth-child(2) {
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.open span:last-child {
  background-color: #fff;
  -webkit-transform: translate(0, -1rem) rotate(-45deg);
          transform: translate(0, -1rem) rotate(-45deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.closed span:first-child {
  background-color: #808080;
  -webkit-transform: translate(0, 0) rotate(0deg);
          transform: translate(0, 0) rotate(0deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.closed span:nth-child(2) {
  background-color: #808080;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.closed span:last-child {
  background-color: #808080;
  -webkit-transform: translate(0, 0) rotate(0deg);
          transform: translate(0, 0) rotate(0deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

footer {
  height: 20vh;
  background-color: #333333;
  padding: 1.6rem 0;
}

footer .grid-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .grid-content .copyright {
  color: #fff;
}

footer .grid-content .copyright p {
  padding: 0;
  margin: 0;
  font-size: clamp(1.4rem, 1.4vh, 1.68rem);
}

footer .grid-content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.4rem;
}

footer .grid-content .links a {
  padding: 0;
  margin: 0;
  font-size: clamp(1.4rem, 1.4vh, 1.68rem);
  text-transform: uppercase;
  color: #fff;
}

footer .grid-content .links a:not(:last-child) {
  margin-right: 1.6rem;
}

footer .grid-content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.4rem;
}

footer .grid-content .social a {
  font-size: clamp(1.6rem, 1.6vh, 1.92rem);
  color: #fff;
}

footer .grid-content .social a:not(:last-child) {
  margin-right: 1.6rem;
}

@media (min-width: 759px) {
  footer {
    height: 8vh;
  }
  footer .grid-content {
    height: 100%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .grid-content .links {
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .grid-content .social {
    height: 100%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 2559px) {
  footer {
    height: 8rem;
  }
}

/* Sections */
/* Hero */
#hero {
  height: 102vh;
  max-height: 1080px;
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center center;
  background: url("/images/hero.jpg") no-repeat center top;
  background-size: cover;
}

#hero p {
  width: 60%;
  font-size: 1.6rem;
  margin: 1.6rem auto;
}

@media (min-width: 759px) {
  #hero p {
    padding: 1.6rem;
  }
}

#hero .cta-btn {
  display: inline-block;
  padding: 1rem 2rem;
  color: #333333;
  background-color: transparent;
  border: 2px solid;
  border-color: #333333;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 2.5rem;
}

#hero .cta-btn:hover {
  background-color: #333333;
  color: #fff;
}

/* Blurbs*/
#blurbs {
  padding-top: 5rem;
  background-color: #eeeeee;
}

#blurbs .grid-content {
  text-align: center;
}

#blurbs .grid-content h1,
#blurbs .grid-content p {
  padding-bottom: 1.6rem;
}

#blurbs .grid-content p {
  width: 80%;
  margin: auto;
}

#blurbs .blurb-container {
  gap: 1.6rem;
}

#blurbs .blurb-container .card {
  overflow: hidden;
  background-color: #333333;
  color: #fff;
  padding: 0;
  margin: 0;
  padding-bottom: 2.5rem;
}

#blurbs .blurb-container .blurb-title {
  padding: 1.6rem 2.5rem 1.4rem;
}

#blurbs .blurb-container .blurb-content {
  padding: 1.4rem 2.5rem;
}

#blurbs .blurb-container .blurb-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #808080;
  color: #fff;
  border-radius: 2.5rem;
}

/* Gallery */
#gallery {
  margin-top: 1.6rem;
  padding: 5rem 0 0;
}

#gallery .grid-content {
  text-align: center;
  padding-bottom: 1.6rem;
}

#gallery .gallery-container {
  padding: 1.6rem 0 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 759px) {
  #gallery .gallery-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

#gallery .gallery-container img {
  height: 100%;
  cursor: pointer;
}

/* Pricing */
#pricing .grid-content {
  padding: 5rem 0;
  text-align: center;
}

#pricing .grid-content h1 {
  padding-bottom: 1.6rem;
}

#pricing .grid-content .blurb-container {
  gap: 1.6rem;
}

#pricing .grid-content .blurb-container .card {
  background-color: #fff;
}

#pricing .grid-content .blurb-container .blurb-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #808080;
  color: #fff;
  border-radius: 2.5rem;
}

#text .grid-content .content {
  -webkit-column-count: 1;
          column-count: 1;
}

@media (min-width: 759px) {
  #text .grid-content .content {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.6rem;
            column-gap: 1.6rem;
  }
}

/* About */
#about {
  min-height: 84vh;
}

#about .grid-content {
  padding: 5rem 0 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2.5rem;
}

@media (min-width: 759px) {
  #about .grid-content {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

#about .grid-content h1 {
  padding-bottom: 1.6rem;
}

#about .grid-content .about-content {
  -webkit-column-count: 1;
          column-count: 1;
}

@media (min-width: 759px) {
  #about .grid-content .about-content {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

#about .grid-content .about-profile {
  height: auto;
}

@media (min-width: 759px) {
  #about .grid-content .about-profile {
    height: 100%;
  }
}

/* Contact */
#contact {
  min-height: 84vh;
}

#contact .grid-content {
  padding: 5rem 0 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2.5rem;
}

@media (min-width: 759px) {
  #contact .grid-content {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

#contact .grid-content .info-container {
  text-align: center;
}

#contact .grid-content .info-container h2 {
  padding: 1.4rem 0 1.6rem;
}

@media (min-width: 759px) {
  #contact .grid-content .info-container {
    text-align: left;
  }
  #contact .grid-content .info-container h2 {
    padding: 1.4rem 0 1.6rem;
  }
}

.grid-main, header, footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vh 1fr 10vh;
      grid-template-columns: 10vh 1fr 10vh;
}

.grid-main .grid-content, header .grid-content, footer .grid-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

@media (min-width: 2559px) {
  .grid-main, header, footer {
    -ms-grid-columns: 30vh 1fr 30vh;
        grid-template-columns: 30vh 1fr 30vh;
  }
}

@media (max-width: 425px) {
  .grid-main, header, footer {
    -ms-grid-columns: 5vh 1fr 5vh;
        grid-template-columns: 5vh 1fr 5vh;
  }
}
/*# sourceMappingURL=style.css.map */